<!DOCTYPE html>
<html>
<head>
    <title>Desync Test Report</title>
</head>
<body>
    <h1>Desync Test Report</h1>
    <table border="1">
        <tr>
            <th>Test Case</th>
            <th>Result</th>
        </tr>
        <TMPL_LOOP NAME=test_results>
            <tr>
                <td><TMPL_VAR NAME=test_case></td>
                <td><TMPL_VAR NAME=result></td>
            </tr>
        </TMPL_LOOP>
    </table>
</body>
</html>
